<div class="panel links">
  <div
    ng-repeat="e in linkFiltArray"
    class="link"
    ng-class="{
      odd: $index%2==0,
      even: $index%2==1,
      important: e.important,
      image: e.image
    }">

    <div ng-if="e.content" class="content" compile-here="e.content"></div>
    <div ng-if="e.image" class="image">
      <img src="{{e.image}}"/>
    </div>

    <i ng-if="e.love" class="love fa fa-heart"></i>
    <!--
    <div
      ng-if="state.tagging"
      class="tags hint--top"
      data-hint="{{meta.tagtip}}"
      ng-include="settings.assets + 'partials/tags.html'">
    </div>
    -->
  </div>
</div>

<div
  class="emptyresult"
  ng-if="(state.search || state.tags.length) && linkFiltArray.length==0"
  ng-click="resetFilters();">
  <div>
    aucun résultat (pour l'instant) pour cette requête précise et pertinente<br>
    cliquez ici pour annuler le filtrage
  </div>
</div>
