

@hsect: 60px;

.sharebutton {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 15px;
  vertical-align: top;
  border-top-left-radius: 17px;
  background: white;
  color: @lightColor;
  font-size: 0.8em;
  &:hover {
    background: @mostLightColor;
  }
  i {
    vertical-align: middle;
    font-size: 1.3em;
    margin-left: 5px;
  }
  div {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.9em;
    text-align: left;
    font-style: italic;
  }
}

.wrapper.layout-abcd .page {
  box-sizing: border-box;
  text-align: left;
  font-family: 'Lato', sans-serif;
  
/*
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  */

  width: 100%;

  .section {
    box-sizing: border-box;
    /*display: inline-block;*/
    padding: 60px 20%;
    margin: 0;
    
    /*cursor: pointer;*/
    text-align: center;
    vertical-align: middle;

    /*flex-grow: 1;*/

    &.t-nc:nth-child(odd) {
      background-color: #E4E4E4;  
    }
    &.t-nc:nth-child(even) {
      background-color: #D2D2D2;
    }
    
    .tags {
      .base-tags();
    }

    a {
      color: white;
      background: #748598;
      padding: 2px 5px;
      border-radius: 1px;
      &:hover {
        color: white;
        background: orange;
      }
    }

    .title {
      box-sizing: border-box;
      display: inline-block;
      span.wtin {
        padding: 25px;
        .absolute-vertical-centered();
      }

      width: 50%;
      height: @hsect;

      color: #414141;
      background: rgba(0, 0, 0, 0.07);

      text-align: right;
      text-transform: uppercase;
      font-size: 1.1em;
      line-height: 1.2em;
      font-weight: 600;
    }
    .subtitle {
      box-sizing: border-box;
      display: inline-block;
      position: relative;

      width: 50%;
      height: @hsect;
      
      color: #595858;
      background: rgba(0, 0, 0, 0.10);

      font-size: 0.9em;
      line-height: 1.2em;
      font-style: italic;
      //.box-shadow(0px 0px 20px -5px black);

      //.transition(all @openDur);
      overflow: hidden;
    }

    .content {
      box-sizing: border-box;

      /*white-space: normal|nowrap|pre|pre-line|pre-wrap|initial|inherit;*/

      /*margin-left: 50%;*/
      /*padding: 10px 50px 50px 50px;*/
      text-align: left;

      color: @textColor;
      font-size: 0.9em;
      line-height: 1.6em;
      h1 {
        font-size: 1.3em;
      }
      h2 {
        font-size: 1.2em;
        margin-bottom: 2px;
      }
      p {
        margin-bottom: 9px;
      }
      ul {
        margin-bottom: 10px;
      }
    }

    .source {
      margin-top: 90px;
      font-size: 0.7em;
      font-style: italic;
      color: @textColor;
    }
  }
}