.wrapper.layout-links {
  box-sizing: border-box;

  .sections {
    height: 100%;
  }
}


.panel.graph {
  backface-visibility: hidden;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: @menuH;
  bottom: 0;

  width: @panelW;
  &.fullscreen {
    width: 100% !important;
  }
  
  .inner-shadow(-1px 0px 1px 0px #8A8A8A);
  background: @veryLightColor;

  .graphloader {
    z-index: 24;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    padding-left: 16%;
    padding-right: 16%;
    background: lightgray;

    line-height: 1.4em;
    font-style: italic;
    color: #878787;
    font-size: 0.8em;

    .inner-shadow(-1px 0px 1px 0px #8A8A8A);
  }

  .control {
    z-index: 22;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    margin: 9px;
    padding: 5px;
    font-size: 0.8em;
    background: white;
    &:hover {
      color: @lightColor;
    }
  }
  .credits {
    z-index: 22;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.57);
    font-size: 0.6em;
    padding: 3px 6px;
  }

  #sigma-links {
    height: 100%;
    canvas {
      left: 0px;
      right: 0px;
    }
  }
}

.panel.links {
  box-sizing: border-box;
  margin-left: @panelW;
  padding: 0;

  text-align: left;
  font-size: 1em;

  .tags {
    float: right;
    margin: 0px 10px;
    
    .tag {
      
      .base-tag();

      background: @lightColor;
      font-size: 10px;
      &:hover { 
        background: @darkColor;
      }
    }
  }

  .link {
    padding: 6px 0px 6px 15px;
    padding-right: 0;
    border-bottom: 1px solid #D2D2D2;

    overflow: hidden;

    background: white;

    &.reducedtag, &.reducedsearch {
      background: #ECECEC;
      height: 1px;
      padding: 0;
      cursor: pointer;
    }
    &.reducedsearch {
      background: @searchYellow;
    }
  }
}

