
.map {
  //backface-visibility: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: @menuH;
  bottom: 0;
}

#leaflet {
  height: 100%;
}

.leaflet-control-container {
	text-align: left;
}

.leaflet-popup-content {
  margin: 9px 9px;
}
.leaflet-popup-content-wrapper {
  border-radius: 6px;
}

.leaflet-popup .details {
  font-size: 0.9em;
}


/*.awesome-marker i {
  font-size: 9px;
  margin-top: 8px;
}*/