
@bacgcol: #322B27;
@titheight: 60px;
@bord: 0px;

.wrapper.layout-grid {
  box-sizing: border-box;
  margin-top: @menuH;
  padding-top: 45px; 

  background: @bacgcol;

  .section {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 490px;
    height: 320px;
    margin: 20px;
    vertical-align: top;
    overflow: hidden;

    background: @bacgcol;
    cursor: pointer;
    font-family: 'Lato', sans-serif;


    .image {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: @bord;
      overflow: hidden;
      opacity: 0.2;
      .transition(opacity 0.2s);
    }
    .h1 {
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      //height: @titheight;
      //margin: @bord;
      padding: 10px;
      .transition(transform 0.2s);
      .transform(translate(-50%,-50%));

      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.8em;
      font-style: italic;
      line-height: 1.4em;
    }
    .h2 {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 25px;

      font-family: "Inconsolata", sans-serif;
      font-size: 1.1em;
      line-height: 1.3em;
      text-align: center;
      color: white;

      .transition(transform 0.2s);
      .transition-delay(0.1s);
      .transform(translate(0,100%));
    }

    //.transition(transform 0.1s);
    &:hover {
      z-index: 9999;
      //.transform(scale(1.05));
      //.box-shadow(2px 2px 13px -3px black);
      
      .image {
        opacity: 1;
      }
      .h1 {
        .transform(translate(-50%,-80%));
        background: white;
        color: @bacgcol;
      }
      .h2 {
        .transform(translate(0,0));
        background: @bacgcol;
      }
    }
  }
}

