.wrapper.layout-links {
  box-sizing: border-box;
}
.wrapper.searched, .wrapper.filtered {
  .links {
    //background: @searchYellow !important;
  }
}

.panel.links {
  box-sizing: border-box;
  position: relative;

  .base-columns(4, 1px);

  background: @veryLightColor;
  
  padding: 20px 0px 50px 0px;

  text-align: left;

  @borderG: 15px;

  .link {
    box-sizing: border-box;
    position: relative;

    /* Hack to avoid block break amongst columns when filtering */
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */

    padding: 17px 20px;
    margin: 20px 10px;
    margin-top: 0;
    
    background: white;

    font-size: 0.9em;
    line-height: 1.3em;

    &.odd { background: @mostLightColor; }

    a {
      color: white;
      background: #748598;
      padding: 2px 4px;
      //border-radius: 4px;
      &:hover {
        color: white;
        background: @blueColor;
      }
    }

    .tags {
      .base-tags();
      margin-top: 15px;
      margin-bottom: -15px; // eat the .link padding !
      width: 100%;
      text-align: left;
      .tag {
        font-size: 0.7em;
      }
    }

    .love {
      z-index: 24;
      float: left;
      margin-top: 15px;
      color: @blueColor;
      font-size: 1.2em;
    }

    &.important {
      /*
      border-left: @borderG solid @lightGreenColor;
      .love { margin-left: -55px; }
      */
    }

    &.image {
      padding: 0;
      line-height: 0;
      .image, img {
        width: 100%;
      }
    }


  }
}

