

/* PHONES & TABLETS */

@media (max-width: 1025px) {
  .container,
  .intro,
  .intro .button,
  .lastupdate,
  .menu .tagspanel,
  .section,
  .comments,
  .quote-container,
  .block .h1,
  .block img.icon,
  .block .links .linkslide {
    .erase-transition();
  }
  .section .image {
    .erase-shadow();
  }
  .header {
    .printer, .button#lang, .ext {
      display: none !important;
    }
  }
  .hint:after, [data-hint]:after, [data-hint]:before {
    display: none;
  }
  .map .legend {
    display: none;
  }
}


/* PHONES ONLY */

@media (max-width: 750px) {
  .header .menu .searchinput,
  .header .menu .tagsmenu,
  .disclaimer span.splitted:first-child,
  .panel.graph {
    display: none;
  }
  .panel.links {
    margin-left: 0;
  }
  .layout-home .fullbox {
    font-size: 0.8em !important;
    width: 100% !important;
    height: 80% !important;
    &#network, .samples {
      display: none;
    }
  }

  /* SECTIONS */
  @betterReducedH: 45px;
  .section {
    &.hidden, &.reduced {
      .image { display: none !important; }
    }
    &.reduced {
      max-height: @betterReducedH !important;
      .h1 {
        font-size: 0.8em !important;
        margin-left: 11px !important;
        padding: 10px !important;
      }
      .tags {
        top: 6px !important;
      }
      .date {
        //top: @betterReducedH / 2 !important;
        display: none;
      }
    }
    .image {
      position: relative !important;
      width: initial !important;
      background-image: none !important;
      .quote-container {
        font-size: 1em;
        .author, .quote { opacity: 1; }
        .imagecredit { display: none; }
      }
    }
    .block {
      margin-left: 0 !important;
      .content { padding: 20px !important; }
    }
    .comments {
      #disqus_thread {
        padding: 0 !important;
        padding-top: 2em !important;
      }
    }
  }
  .intro {
    .splash .arrow {
      font-size: 1.4em !important;
    }
    .button {
      font-size: 1.2em;
      padding: 20px 0px;
      margin-top: 10px;
    }
    .splash, .image {
      bottom: 60px !important;
    }
  }
  .disclaimer span {
    font-size: 0.8em;
    padding: 20px 50px !important;
  }
  .header {
    .action.backintro {
      //padding: 9px 10px;
    }
    .action.tagging {
      padding: 11px 0px;
    }
    .button#calendar, .button#network {
      display: none;
    }
  }
  .link {
    padding: 12px !important;
  }
}


/* TABLETS ONLY */

@media (min-width: 750px) and (max-width: 1025px) {
  .tagspanel .gridtag {
    padding: 12px 6px !important;
    font-size: 0.65em !important;
  }
  .header .menu .searchinput input {
    width: 160px !important;
  }
  @betterPanelW: 370px;
  .section.layout-flat {
    .image { width: @betterPanelW !important; }
    .block { margin-left: @betterPanelW !important; }
  }
}



/* BIG SCREENS */

@media (min-width: 1200px) {
  .tagspanel .gridtag {
    // padding: 17px 8px !important;
    // font-size: 0.75em !important;
  }  
  .header .menu .searchinput input {
    width: 320px !important;
  }
  @betterPanelW: 480px;
  .section.layout-flat {
    .image { width: @betterPanelW !important; }
    .block { margin-left: @betterPanelW !important; }
  }
}



/* VERY BIG SCREENS */

@media (min-width: 1450px) {
  .tagspanel .gridtag {
    // padding: 16px 11px !important;
    // font-size: 0.9em !important;
  }
  .header .menu .searchinput input {
    width: 380px !important;
  }
  @betterPanelW: 580px;
  .section.layout-flat {
    .image { width: @betterPanelW !important; }
    .block { margin-left: @betterPanelW !important; }
  }
}

/* VERY MOST BIG SCREENS */

@media (min-width: 1650px) {
  .tagspanel .gridtag {
    // padding: 16px 11px !important;
    // font-size: 0.9em !important;
  }
  .header .menu .searchinput input {
    width: 410px !important;
  }
  @betterPanelW: 700px;
  .section.layout-flat {
    .image { width: @betterPanelW !important; }
    .block { margin-left: @betterPanelW !important; }
  }
}

