
/* HEIGHT WILL CHANGE TAGS-GRID */

@media (max-height: 690px) {
  .tagspanel {
    width: 195px !important;
    left: -195px !important;
    .gridtag {
      width: 50% !important;
      padding: 2px 0px 2px 5px !important;
    }
  }
  .wrapper.tagsbordered {
    padding-left: 190px !important;
  }
}


/* PHONES & TABLETS */

@media (max-width: 1025px) {
  .container,
  .intro,
  .intro .button,
  .lastupdate,
  .menu .tagspanel,
  .section,
  .comments,
  .quote-container,
  .block .h1,
  .block img.icon,
  .block .links .linkslide {
    .erase-transition();
  }
  .section .image {
    .erase-shadow();
  }
  .header {
    .printer, .button#lang, .ext {
      display: none !important;
    }
  }
  .hint:after, [data-hint]:after, [data-hint]:before {
    display: none;
  }
}


/* PHONES ONLY */

@media (max-width: 750px) {
  .header .menu .searchinput,
  .header .menu .tagsmenu,
  .button#calendar, .button#network {
    display: none;
  }

  .disclaimer div {
    font-size: 0.9em !important;
    padding: 20px 50px !important;
  }

  /* HOME */
  .layout-home .fullbox {
    font-size: 0.8em !important;
    width: 100% !important;
    height: 80% !important;
    .quote-container { padding: 10px 30px !important; }
    .h2 { padding: 0px 30px !important;  }
    &#network {
      display: none;
    }
  }

  /* LINKS */
  .panel.links {
    .base-columns(1, 0px);
    .link {
      margin: 15px 7px !important;
      padding: 12px !important;
    }
  }

  /* MAP */
  .map .legend {
    display: none;
  }
  
  /* SECTIONS */
  .section {
    border: none !important;
    .image {
      position: relative !important;
      width: 100% !important;
      height: inherit !important;
      background-image: none !important;
    }
    .quote-container {
      padding: 40px !important;
      font-size: 0.9em !important;
    }
    .imagecredit { display: none !important; }
    .h2 {
      height: 100px !important;
    }
    .h1, .h2 {
      width: 100% !important;
      background: none !important;
    }
    &.opened .h1 { background: black !important; }
    .h1 {
      font-size: 0.8em !important;
      padding: 10px !important;
    }
    .block {
      .content {
        margin-left: 0 !important;
        padding: 30px 20px 30px 30px !important;
      }
      .source {
        left: 0 !important;
      }
    }
  }

  /* SPLASH */
  .intro {
    .splash .arrow {
      font-size: 1.4em !important;
    }
    .button {
      font-size: 1.2em;
      padding: 20px 0px;
      margin-top: 10px;
    }
    .splash, .image {
      bottom: 60px !important;
    }
  }
}


/* TABLETS ONLY */

@media (min-width: 750px) and (max-width: 1025px) {
  .tagspanel .gridtag {
    //padding: 12px 6px !important;
    //font-size: 0.65em !important;
  }
  .header .menu .searchinput input {
    width: 160px !important;
  }
  .panel.links { .base-columns(2, 0px); }
}


/* RELATIVELY SMALL */

@media (min-width: 1026px) and (max-width: 1199px) {
  .panel.links { .base-columns(3, 0px); }
}


/* BIG SCREENS */

@media (min-width: 1200px) {
  .tagspanel .gridtag {
    // padding: 17px 8px !important;
    // font-size: 0.75em !important;
  }  
  .header .menu .searchinput input {
    width: 320px !important;
  }
  .panel.links { .base-columns(4, 0px); }
}



/* VERY BIG SCREENS */

@media (min-width: 1450px) {
  .tagspanel .gridtag {
    // padding: 16px 11px !important;
    // font-size: 0.9em !important;
  }
  .header .menu .searchinput input {
    width: 380px !important;
  }
  .panel.links { .base-columns(5, 0px); }
}

/* VERY MOST BIG SCREENS */

@media (min-width: 1650px) {
  .tagspanel .gridtag {
    // padding: 16px 11px !important;
    // font-size: 0.9em !important;
  }
  .header .menu .searchinput input {
    width: 410px !important;
  }
  .panel.links { .base-columns(6, 0px); }
}

