@import "constants";

html, body {
  width: 100%;
  background: white;
}
body {
  position: fixed;
  height: 100%;
  overflow: hidden;
  font-family: "Inconsolata", sans-serif;
}


.cover {
  background-position: center center;
  background-repeat: no-repeat;
  .background-size(cover);
  background-color: black;
}

ul, li {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #617790;
  &:hover {
    color: #485361;
  }
}


@veryLightColor: #CCCCCC;
@lightColor: #ABABAB; // gris menu, tag léger
@activeLightColor: #ECECEC;
@darkColor: #6A6C67; // tag foncé
@textColor: #3C3C3C;

@redColor: #883E3E;
@searchYellow: rgba(255, 252, 0, 0.48);


@openDur: 0.2s;
@introDur: 0.5s;
@menuH: 58px;

@searchInputW: 190px;

@panelW: 400px; //37%;

@reducedFlatSectionH: 43px;


span.highlight, div.highlight { /* searched words */
  padding: 2px 4px;
  background: @searchYellow;
}


// thanks to http://tools.medialab.sciences-po.fr/iwanthue/
// settings: C = 0 0.69 / L = 1.06 1.33

.colored-0 { background: #E8B887; }
.colored-1 { background: #ADD7DB; }
.colored-2 { background: #C3D794; }
.colored-3 { background: #D9C8DA; }
.colored-4 { background: #EDB4AA; }
.colored-5 { background: #CFC5A3; }
.colored-6 { background: #A4DAB0; }
.colored-7 { background: #E3CD7D; }
.colored-8 { background: #C5D3C1; }
.colored-9 { background: #E8D9A0; }



.container {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  left: 0;
  .transition(top @introDur);
  top: 0;
  &.hidden {
    top: 100%;
  }
  overflow-y: scroll;
  overflow-x: hidden;
}



.intro {
  backface-visibility: hidden;
  box-sizing: border-box;
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  .transition(top @introDur);
  top: 0;
  &.hidden {
    top: -100%;
    h1, .description, .image, .foot {
      display: none;
    }
  }

  text-align: center;
  background: white;

  .splash {
    width: 100%;
    height: 100%;
    .image {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 60px;
      left: 0;
      right: 0;

      opacity: 0;

      pointer-events: none;

      /* background imageurl & color are set within template */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      .transition(transform 0.4s);
      &.left, &.right {
        opacity: 1;
        //.transform(scale(1.2));
      }
      &.left {
        .transform(translate(100%,0));
        // left: -130%;
        // right: 130%;
      }
      &.right {
        .transform(translate(-100%,0));
        // left: 130%;
        // right: -130%;
      }
      &.active {
        .transform(translate(0,0));
        left: 0;
        right: 0;
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  .foot {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .button {
    pointer-events: all;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 0px;
    font-size: 1.7em;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background: whitesmoke;
    border-top: 2px solid whitesmoke;
    // background: repeating-linear-gradient(
    //   to right,
    //   #f6ba52,
    //   #f6ba52 10px,
    //   #ffd180 10px,
    //   #ffd180 20px
    // );
    .inner-shadow(0px 6px 13px -3px #525252);
    .transition(padding @openDur);
    &:hover {
      padding: 40px 0px;
    }
  }
  // .keywords {
  //   width: 100%;
  //   background: white;
  //   padding: 10px;
  //   font-family: 'Gloria Hallelujah', cursive;
  //   font-size: 0.9em;
  // }
}


.lastupdate {
  display: inline-block;
  right: 0;
  margin-top: 20px;
  padding: 5px 8px;
  border-radius: 6px;

  font-size: 0.7em;
  font-style: italic;
  line-height: 1.3em;

  color: lightgray;
  .transition(all 0.1s);
  &:hover {
    background: #909090;
    color: white;
  }
}


.header {
  backface-visibility: hidden;
  box-sizing: border-box;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @menuH;
  background: white;
  text-align: center;

  .backintro {
    z-index: 45;
    cursor: pointer;
    position: absolute;
    margin: 9px 14px;
    font-size: 0.7em;
    line-height: 1.6em;
    text-align: center;
    color: @veryLightColor;
    &:hover {
      color: @textColor;
    }
    i {
      font-weight: 900;      
    }
  }

  .menu {
    z-index: 80;
    position: absolute;
    height: @menuH;
    width: 100%;
    background: white;
    .box-shadow(0px 0px 4px 0px #525252);
    text-align: left;

    .tagsmenu {
             
      .tagshat {
        z-index: 32;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: @panelW;
        height: @menuH;
        padding-left: 60px;

        background: white;
        border-bottom: 5px solid @veryLightColor;

        .tags {
          box-sizing: border-box;
          width: 100%;
          padding: 2px;
          margin-top: 5px;
          text-align: left;
          .tag {
            display: inline-block;
            margin: 0px -1px;
            padding: 2px 5px;
            border-radius: 2px;
            background: @redColor;
            color: white;
            font-size: 10px;
            font-style: italic;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
              background: #959892;
            }
            &.inactive {
              pointer-events: none;
              background: @lightColor;
            }
          }
          .clear {
            width: 14px;
            vertical-align: middle;
            cursor: pointer;
            opacity: 1;
            font-size: 0.9em;
            color: @textColor;
            &:hover {
              opacity: 0.5;
            }
            display: none;
          }
        }
        span.label {
          padding-left: 3px;
          font-size: 0.75em;
          color: @lightColor;
        }
      }

      .paint {
        z-index: 31;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: @menuH;
        background: white;
      }

      @graphH: 220px;
      .graphtags {
        z-index: 27;
        box-sizing: border-box;
        position: absolute;
        width: @panelW;
        height: @graphH;
        left: 0;
        bottom: 0;
        background: #ECECEC;

        .box-shadow(0px 0px 5px 0px #525252);
        .transition(bottom 0.4s);
        
        @descH: 65px;
        #sigma-tags {
          height: @graphH - @descH;
          canvas {
            left: 0px;
            height: @graphH - @descH;
          }
        }
        .tagdescription {
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 15px;
          //padding-top: 30px;

          background: white;
          color: @textColor;
          font-size: 0.75em;
          line-height: 1.4em;
          text-align: center;

          span {
/*            position: absolute;
            top: 0;
            left: 0;
            right: 0;*/
            /*text-align: center;*/
            /*padding-top: 7px;*/
            color: @lightColor;
          }
        }
      }

      &.filtering {
        .tagshat {
          background: @activeLightColor;
          border-bottom: 5px solid @redColor;
        }
        .clear {
          display: inline-block !important;
        }
      }
      &:hover {
        .tagshat {
          border-bottom: none !important;
        }
        .graphtags {
          bottom: -@graphH;
        }
      }
    }

    .buttons {
      z-index: 40;
      position: absolute;
      right: 0;
      height: @menuH;
      background: white;
      .button {
        box-sizing: border-box;
        position: relative;
        float: right;
        width: 78px;
        height: 100%;
        padding: 11px 0px;
        
        //border-left: solid 1px #E9E9E9;
        vertical-align: top;
        text-align: center;
        font-size: 0.75em;

        i {
          color: @lightColor;
        }

        img {
          width: 15px;
        }
        span {
          display: block;
          color: @lightColor;
          margin-top: 7px;
          i {
            font-size: 0.9em;
          }
        }
        a.ext {
          position: absolute;
          top: 0;
          right: 0;
          padding: 2px 3px;
          i { 
            font-size: 0.8em;
          }
          opacity: 0;
          &:hover {
            opacity: 1 !important;
          }
        }
        &.hover {
          cursor: pointer;
          &:hover {
            border-bottom: 5px solid @veryLightColor;
            a.ext {
              opacity: 0.5;
            }
          }
        }
        &.active, &.active:hover {
          background: @activeLightColor;
          border-bottom: 5px solid @redColor;
          i {
            color: @redColor;
          }
          span {
            color: @redColor;
          }
        }
        .setlang {
          color: @lightColor;
          &.active {
            color: @redColor;
            pointer-events: none;
          }
        }
      }
    }

    .searchinput {
      z-index: 35;
      position: absolute;
      left: 50%;
      .transform(translate(-50%,0));
      display: inline-block;
      width: @searchInputW;
      margin: 15px 0px;

      input {
        box-sizing: border-box;
        
        -webkit-appearance: none;
        -webkit-border-radius: 0;
                border-radius: 0;
        outline: 0;
        overflow: hidden;
        width: 100%;
        padding: 5px 24px;
        //padding-right: 24px;

        vertical-align: middle;
        border: 1px solid lightgray;
        
        text-align: center;
        font-size: 0.9em;
        
        border-radius: 50px;
        background: white;
        &.highlight {
          background: @searchYellow;
        }
      }
      .clear {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
        opacity: 1;
        font-size: 0.9em;
        color: @lightColor;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}


.base-tag {
  float: right;
  margin: 2px -1px;
  padding: 2px 5px;
  border-radius: 2px;
  color: white;
  
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;

  i {
    vertical-align: baseline;
    font-size: 1.1em;
    margin-left: 2px;
  }
  i.clear {
    display: none;
    opacity: 0.5;
  }
  &:hover {
    i.clear {
      opacity: 1;
    }
  }
  &.active {
    background: @redColor;
    i.clear {
      display: inline-block;
    }
  }
}


.wrapper {
  margin-top: @menuH;
}


.footer {
  background: white;
  padding: 40px;

  text-align: right;

  .box-shadow(0px 0px 4px 0px #BABABA);

  .content {
    font-size: 0.8em;
    h2 {
      font-weight: normal;
    }
    ul {
      list-style-type: none;
    }
    li {
      margin-bottom: 2px;
    }
  } 
}

@import "layout_sections";
@import "layout_sections_flat";
@import "layout_sections_grid";

@import "layout_links";
@import "layout_map";
@import "layout_print";

@import "screen";

